.main__title {
    text-align: center;
    font-size: 4vw;
}

/* SECTION 1 */

.section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}

.section1__block {
    padding: 10%;
}

.section1__block__orange {
    background-color: #ffa500;
    justify-self: end;
}

.section1__block__pink {
    background-color: #ffc0cb;
    justify-self: start;
}

.section1__block__green {
    background-color: #adff2f;
    justify-self: center;
}

.section1__block__blue {
    background-color: #0000ff;
    justify-self: stretch;
}

/* SECTION 2 */

.section2 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
}

.section2__block {
    background-color: #696969;
    padding: 5px;
    border-radius: 2px;
}

.section2__block__A {
    grid-column: auto / span 2;
}

.section2__block__G {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

.section2__block__K {
    grid-column: auto / span 2;
}

/* SECTION 3 */

.section3 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(3, minmax(100px, auto));
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    color: #444;
}

.section3__block {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.section3__block__A {
    grid-column: 1 / span 2;
}

.section3__block__B {
    grid-column: 4;
}

.section3__block__C {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.section3__block__D {
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: subgrid;
}

.section3__block__E {
    grid-row: 1 / span 2;
    grid-column: 1;
    background-color: #ccc;
    color: #444;
}

.section3__block__F {
    grid-row: 1;
    grid-column: 2 / span 2;
    background-color: #ccc;
    color: #444;
}

.section3__block__G {
    grid-row: 2;
    grid-column: 3;
    background-color: #ccc;
    color: #444;
}